__pycache__/
*.py[cod]
*$py.class

Vertions/
Fabrication/
3D/
bom/
Spectra/
Gerber*/sym-lib-table

# Temporary files

*.*bak


viafence-*.json
*.egg-info/
.installed.cfg
*.egg
*.zip

*-cache

# personalisation files

*.kicad_prl


MANIFEST

venv/

.idea/

*.swp
build-Arduino*
CMakeLists.txt.user
